@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

body{
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background-image: url('../images/Fundo_clinica.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.area_login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 355px;
    height: 380px;
    padding: 35px;
    flex-direction: column;
    border-radius: 10px;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input{
    background-color: rgba(230, 132, 177, 0.904);
    border: none;
    height: 45px;
    outline: none;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.774);
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%; /* Garante que o campo ocupe toda a largura disponível */
}

.password-wrapper {
    position: relative;
    margin-top: 10px;
    background-color: rgba(230, 132, 177, 0.904);
    height: 45px;
    border-radius: 8px;
    width: 100%; /* Garante que o wrapper ocupe toda a largura disponível */
    box-sizing: border-box;
}

.password-wrapper input {
    width: calc(100% - 40px); /* Ajuste a largura para dar espaço ao ícone */
    height: 100%;
    border: none;
    padding-left: 10px;
    background: transparent;
    color: rgba(0, 0, 0, 0.774);
    font-size: 14px;
    border-radius: 8px;
    box-sizing: border-box;
}

#toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.774);
    font-size: 16px;
}

form .b{
    display: block;
    background-color: rgba(12, 211, 211, 0.651);
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
    height: 45px;
    border-radius: 8px;
}

p{
    color: rgb(0, 0, 0); /* Cor mais atraente */
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-align: center;
}

.senha{
    color: rgba(12, 211, 211, 0.651);
    text-decoration: none;
    margin-left: 2px;
}

.sair {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: brown; /* Cor do botão SAIR */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.sair:hover {
    background-color: darkred; /* Cor ao passar o mouse */
}

img{
    width: 250px;
    height: 100px;
}
